extends mainproductlist.pug

block title
  = productData.name

block aboveproductslist
  .product-card
    img(src= '/resources/images/products/' + productData.imageName)
    h1= productData.name
    .control-panel
      b= productData.capacityList[0].price + 'руб.'
      select(ng-model='productData.selectedCapacity', ng-options='entry as entry.capacity for entry in productData.capacityList')
        each capacityInfo in productData.capacityList
          option= capacityInfo.capacity
      = stringResources.productCapacityUnitTypes[productData.capacityUnit]
      input(type='number', name='input', ng-model='orderCount', min='1', max='99', ng-class='{invalid: !utils.isProductCountAvailable(product, orderCount)}', ng-attr-title="{{utils.isProductCountAvailable(product, orderCount) ? '' :\
      stringResources.validationMessages.wrongProductCountTitle}}")
      |             шт.
      if productData.isActive
        button.product-buy-button(ng-click='onBuyProductButtonClick($event, product)')
          img.cart-image(src='/resources/images/icons/cart.png')
          span Купить
      else
        span.not-active-label Нет в наличии
    span.old-price(ng-show='productData.discount')= (productData.capacityList[0].price * (100 - productData.discount || 0) / 100) + 'руб.'
    br
    ul.tab-control
      li.selected(ng-class="{selected: selectedTabName == 'description'}", ng-click="onTabClick('description')")
        | Описание
      li(ng-class="{selected: selectedTabName == 'use'}", ng-click="onTabClick('use')")
        | Применение
      li(ng-class="{selected: selectedTabName == 'ingredients'}", ng-click="onTabClick('ingredients')")
        | Ингредиенты
      li(ng-class="{selected: selectedTabName == 'reviews'}", ng-click="onTabClick('reviews')")
        | Отзывы
    p(ng-hide="selectedTabName !== 'description'", ng-bind-html='productData.description')!= productData.description
    p(ng-hide="selectedTabName !== 'use'", ng-bind-html='productData.use')!= productData.use
    p(ng-hide="selectedTabName !== 'ingredients'", ng-bind-html='productData.ingredients')!= productData.ingredients
    .reviews-container(ng-hide="selectedTabName !== 'reviews'")
      for review in productData.reviews
        p.review(ng-repeat='review in productData.reviews')
          b= review.customerName
          br
          br
          = review.text
    .send-review-container(ng-show="reviewsAllowed && selectedTabName === 'reviews'")
      h3 Оставить отзыв
      input(name='name', type='text"', ng-model='review.customerName', placeholder='Ваше имя')
      textarea(rows='4', ng-model='review.text', placeholder='Ваш отзыв')
      button(ng-click='onSendReviewButtonClick()')
        | Отправить отзыв
    p.no-send-review-message(ng-show="!reviewsAllowed && selectedTabName === 'reviews'")
      | Вы уже оставляли отзыв к этому товару, повторно оставить отзыв можно будет не ранее, чем через сутки.
  - if (totalProductsCount > 0) {
    h2.bought-together-header(ng-show='products.length') С этим товаром покупают
    .bought-together-container(ng-controller='MainProductListController', ng-include='', src="'/partials/mainproductlist.html'", ng-init='hideFilterControls=true;')
  - }


